[{{ item.name }}]
user = {{ item.user }}
group = {{ item.group }}
listen = {{ item.listen }}
listen.owner = {{ item.listen_owner }}
listen.group = {{ item.listen_group }}
pm = {{ item.pm }}
pm.max_children = {{ item.pm_max_children }}
pm.start_servers = {{ item.pm_start_servers }}
pm.min_spare_servers = {{ item.pm_min_spare_servers }}
pm.max_spare_servers = {{ item.pm_max_spare_servers }}
