<!DOCTYPE html>
<html>
<head>
    <title>{{ nginx_page_title }}</title>
</head>
<body>
    <h1>{{ nginx_page_title }}</h1>
    <p>{{ nginx_page_content }}</p>
    <p>Served by NGINX running in Docker.</p>
</body>
</html>
